body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: radial-gradient(#0d1d31 0%, #0c0d13 100%);
}

#container {
    margin-top: 500px;
    text-align: center;
}

#playButton {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#playButton:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

#toolbar {
    display: none;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    border-radius: 10px;
}

#toolbar button {
    width: 35px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

#homeButton {
    background-image: url("/images/Home_Logo.png");
    transition-duration: 0.5s;
    background-color: transparent;
    margin-right: 10px;
}

#homeButton:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

#fullscreenButton {
    background-image: url("/images/Fullscreen_Logo.png");
    background-color: transparent;
    transition-duration: 0.5s;
}

#fullscreenButton:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

#fullscreenButton.fullscreen {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.fullscreen {
    position: fixed;
    top: 10px;
    right: 60px;
    margin: 0;
}

#gameFrame {
    width: 900px;
    height: 500px;
    display: block;
    margin: 20px auto;
    background-color: transparent;
}

#gameTitle {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
    color: #fff;
}

#footer {
    margin-top: 20px;
    text-align: center;
    background-color: white;
}