:root {
    --dark: #222831;
    --primary: #B3005E;
    --primary-light: #E90064;
    --light: #FF5F9E;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--dark);
  }